<nav class="navbar navbar-default navbar-static-top">
 <div class="container">
   <div class="navbar-header">
     <%= link_to "BotsBotsBots", resources_path, class: "navbar-brand"%>
     <%= link_to "Post a new Resource", new_resource_path, class: "pull-right btn btn-primary", id: "navbar-btn" %>
   </div>

 </div>
</nav>
