<nav class="navbar navbar-default navbar-static-top">
 <div class="container">
   <div class="navbar-header">
     <%= link_to "Bots Resources", resources_path, class: "navbar-brand"%>
     <!-- <%= link_to "Post a new Resource", new_resource_path, class: "pull-right btn btn-primary soon disabled", id: "navbar-btn" %> -->
     <!-- <a href="#" class="pull-right btn btn-primary disabled" id="navbar-btn" style="cursor: not-allowed">Post A New Resource</a> -->
   </div>

 </div>
</nav>
