<div class="container">

  <h3>Add a new bot ressource</h3>

  <form action="/resources" method="post">

    <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

    <div class="row">
      <div class="input-field col s12 m6">

        <label for="ressource_name">Ressource Name</label>
        <input type="text" id="ressource_name" name="resource[ress_name]" value="<%= @resource.ress_name %>">

      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6">
        <label for="ressource_link">Ressource Link</label>
        <input type="text" id="ressource_link" name="resource[link]" value="<%= @resource.link %>">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6">
        <label for="categories">Categories</label>
        <br>
        <br>
        <select id="categories" name="resource[category_id]">
          <option value="1">AI/NLP Engine</option>
          <option value="2">How to...</option>
          <option value="3">News</option>
          <option value="4">Communities</option>
          <option value="5">Bots Lists</option>
          <option value="6">APIs</option>
          <option value="7">Messenging Platforms</option>
          <option value="8">Librairies</option>
        </select>
      </div>
    </div>

    <br>
    <input type="submit" value="Post">
  </form>
</div>
